body {
    font-family: 'Ropa Sans', sans-serif;
    color: #333;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}

h1 {
    font-size: 30px;
}

#loadingMessage {
    text-align: center;
    padding: 40px;
    background-color: #eee;
}

#canvas {
    width: 100%;
}

.modal-title {
  font-size: 24px;
}

.modal-body {
  font-size: 20px;
}

input[type=checkbox] {
  transform: scale(1.5);
}

#modal-accepted-content {
  background-color: #64e917;
  margin: 50% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  height: 100%;
}

#modal-rejected-content {
  background-color: #eb0b0b;
  color: #fff;
  margin: 50% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  height: 100%;
}

#modal-progress-update-content {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin: 50% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  height: 100%;
}

#modal-key-bundle-old-content {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin: 50% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  height: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1rem);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.125rem solid #ced4da;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group {
  padding-left: 15px;
  padding-right: 15px;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}

.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
}

.form-check-label {
  margin-bottom: 0;
}

#baercode_logo {
  display: none;
}

.navbar .nav-item .dropdown-menu{ margin-top:0; }
